* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

.center_container {
    width: 80%;
    margin: 0 auto;
    background: #E5E5E5;
    font-family: roboto;
}

.clear_fix {
    overflow: auto;
}

.header {
    width: 100%;
    padding: 2% 0%;
    margin-bottom: 4%;
    background: white;
}

.header_logo {
    width: 18%;
    margin: 0 auto;
}

.header_logo_image {
    width: 100%;
}

.order_information_card {
    padding: 5%;
    width: 90%;
    background: white;
}

.order_status {
    font-size: 3.5vw;
    font-weight: bold;
    color: #020235;
    opacity: 0.3;
    line-height: 48px;
}

.arival_status {
    font-size: 3.5vw;
    font-weight: bold;
}

.share_link {
    font-size: 2.1vw;
    color: royalblue;
    margin-top: 2%;
}

.share_link i {
    font-size: 1.5vw;
}

.order_day {
    font-size: 5vw;
    color: #3CC663;
    font-weight: bold;
    margin-top: 5%;
}

.order_date {
    font-size: 9vw;
    color: #3CC663;
    font-weight: bold;
    margin-bottom: 5%;
}

.shipping_status {
    font-size: 2.5vw;
    color: #000000;
    opacity: 0.5;
}

.package_status {
    font-size: 2vw;
    color: #3e57d1;
    padding: 2% 1%;
    font-weight: bold;
}

.shipment_details {
    padding: 2%;
    float: left;
    font-size: 2.5vw;
    width: 46%;
    text-align: center;
    color: #3E57D1;
    cursor: pointer;
    background: white;
    text-shadow: 2px 2px #7d737330;
}

.card_toggle_buttons {
    width: 99.7%;
    border: 1px solid #eee;
    margin-bottom: 4%;
    font-weight: bold;
}

.share_link a {
    text-decoration: none;
    font-weight: bold;
}

.share_product_label a {
    text-decoration: none;
    font-weight: bold;
}

.take_action {
    padding: 2%;
    float: left;
    font-size: 2.5vw;
    width: 46%;
    text-align: center;
    background: #3E57D1;
    color: white;
    cursor: pointer;
    text-shadow: 2px 2px #0000004a;
}

.accordian_tab {
    font-size: 2.3vw;
    padding: 2.8%;
    background: white;
    margin-bottom: 4%;
    cursor: pointer;
}

.accordian_tab i {
    margin-right: 2%;
}

.arrow_float_right {
    float: right;
}

.order_details_section {
    overflow: auto;
    background: white;
    margin-bottom: 4%;
}

.order_details_header {
    float: left;
    width: 94%;
    padding: 3%;
    font-size: 2.3vw;
    margin-top: 2%;
    padding-bottom: 2.5%;
}

.order_detail_label {
    float: left;
    width: 50%;
    font-size: 2.1vw;
    font-weight: bold;
}

.share_product_label {
    width: 48%;
    float: left;
    text-align: right;
    color:#3e57d1;
}

.accordian_box_shadow {
    box-shadow: 2px 6px #00000005;
}

.share_product_label i{
    font-size: 1.6vw;
}

.accordian_tab:hover {
    background: #3e57d1;
    color: white;
}

.shipment_details:hover {
    opacity: 0.5;
}

.take_action:hover {
    opacity: 0.5;
}

.order_information {
    width: 100%;
    overflow: auto;
    padding-bottom: 3%;
}

.order_image {
    width: 18%;
    float: left;
    margin-left: 3%;
}

.order_image img {
    width: 100%;
}

.order_data {
    float: left;
    padding: 1% 4%;
    width: 68%;
}

.order_name {
    font-size: 2vw;
    font-weight: bold;
    padding-bottom: 1.6%;
}

.order_discription {
    font-size: 1.9vw;
    color: grey;
}

.order_size_and_quantity {
    font-size: 1.9vw;
    color: grey;
    margin-top: 1%;
}

.order_prize {
    font-size: 2.3vw;
    font-weight: bold;
    margin-top: 3%;
}

.post_suggestion_section {
    background: white;
    overflow: auto;
}

.post_suggestion_label {
    padding: 3%;
    font-size: 1.7vw;
    float: left;
    width: 94%;
    margin-top: 2%;
}

.sugestion_card_holder {
    float: left;
    width: 100%;
}

.suggestion_post_card {
    width: 50%;
    float: left;
    cursor: pointer;
}

.suggestion_post_card:hover {
    background: #1e133a05;
}

.suggestion_post_image {
    width: 88%;
    float: left;
    padding: 0% 5.9%;
    height: 50vh;
}

.suggestion_post_image img {
    float: left;
    height: 100%;
    width: 100%;
}

.suggestion_post_discription {
    float: left;
    padding: 5%;
    padding-bottom: 10%;
}

.accordian_content {
    margin-bottom: 4%;
    padding: 3%;
    font-size: 1.8vw;
    width: 94%;
    background: white;
    color: black;
    border-top: 1px solid #80808036;
    display: none;
}

.sugestion_product_price {
    margin-top: 8%;
}

.sugestion_product_discription {
    margin-top: 3%;
}

.fa_info_icon_custom_outter_ring {
    float: left;
    font-size: 1.5vw;
    width: 3%;
    border-radius: 50%;
    border: 2px solid #3e57d1;
    margin-right: 1.6%;
    text-align: center;
    margin-top: 0.3%;
}